<!--    main/friends.html    -->

<html lang="en-gb">
    
    {% include "base/head.html" %}

    <body>
        <div class="container main-content">
            <a href="/">Home</a>

            {% if err %}
            <strong>
                An unknown error occoured
            </strong>
            {% endif %}

            <form method="post" action="/friends">

                <label for="username">Enter username:</label>
                <input type="text" id="username" name="username" value="{{ username }}" required>

                <button type="submit" name="action" value="none">Submit</button>

                {% if search_results != "none" %}
                    <div class="search-results">
                        {% if search_results|length > 0 %}
                            {% for result in search_results %}
                                <p>{{ result[1] }}<button type=submit name="action" value="add-{{ result[0] }}">Add friend</button></p>
                            {% endfor %}
                        {% else %}
                            <p>No results found</p>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="friends-list">
                    {% if friends|length > 0 %}
                        {% for friend in friends %}
                            <p>{{ friend[1] }} <small>{{ friend[2] }}</small><button type=submit name="action" value="remove-{{ friend[0] }}">Remove</button></p>
                        {% endfor %}
                    {% else %}
                        <p>No friends hahah</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </body>
</html>

<!--    /main/friends.html    -->