<!--    main/landing.html    -->

<html lang="en-gb">
    
    {% include "base/head.html" %}

    <body>
        <div class="container main-content">
            <h3>Hello from Flask!</h3>

            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/admin">Admin</a>
            <a href="/logout">Log out</a>
            <a href="/create-session">Create session</a>
            <a href="/friends">Friends</a>
            <a href="/create-group">Create group</a>
        </div>
    </body>
</html>

<!--    /main/landing.html    -->