<!--    main/register.html    -->

<html lang="en-gb">
    
    {% include "base/head.html" %}

    <body>
        <div class="container main-content">
            <a href="/">Home</a>
            <a href="/login">Login</a>

            <h1><strong>PASSWORDS ARE NOT YET ENCRYPTED</strong></h1>
            <h2>Do not use a real passowrd</h2>

            {% if err %}
            <strong>
                {% if err == "passwords" %}
                    Passwords did not match
                {% elif err == "username" %}
                    Username already in use
                {% elif err == "login" %}
                    Account created, but login failed
                {% endif %}
            </strong>
            {% endif %}

            <form method="post" action="register-input">

                <label for="name">Your name:</label>
                <input type="text" name="name" id="name">

                <label for="username">Useranme (this must be unique):</label>
                <input type="text" name="username" id="username" pattern="^[a-zA-Z0-9_]{3,30}$">
                <!-- Only letters, number and Unserscores -->

                <label for="password">Password:</label>
                <input type="password" name="password" id="password">

                <label for="password-confirm">Confirm Password:</label>
                <input type="password" name="password-confirm" id="password-confirm">

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>

<!--    /main/register.html    -->