<!--    login.html    -->

<html lang="en-gb">
    <head>

    </head>
    <body>
        <div class="container main-content">
            <a href="/">Home</a>
            <a href="/register">Register</a>

            <form method="post" action="login-input">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">

                <label for="password">Password:</label>
                <input type="password" name="password" id="password">

                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>

<!--    /login.html    -->